POSTGRES_DB=taskmanager
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=taskmanager;Username=postgres;Password=postgres

OCR_INTERNAL_TOKEN=123456789

ENCRYPTION_KEY=base64_32b

AWS__AccessKey=AKIA...
AWS__SecretKey=
AWS__Region=us-east-1